/**
 * UI Elements
 */

.ui {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 1em;
    margin: auto;
    display: none;

    background: #E0E0E0;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-user-select: none;

    * {
        -webkit-user-select: none;
    }

    header {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        color: #FFF;
        background: #406791;
        height: 30px;

        em, strong {
            font-style: normal;
            font-weight: bold;
        }

        h1 {
            font-size: 1em;
            margin: 0;
            margin-top: 5px;
            text-align: center;
        }
    }

    .body {
        margin-top: 20px;

        em, strong {
            font-style: normal;
            font-weight: normal;
        }
    }

    footer {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 100%;

        padding:5px;
    }
}

#narration-ui {
    width: 600px;
    height: 100px;

    margin: 0px auto 0px auto;
    top: auto;
    bottom: 10px;

    .instruction {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    strong {
        font-weight: strong;
        color: blue;
    }

    em {
        font-style: italic;
        color: orange;
    }
}

#upload-error-ui {
    width: 400px;
    height: 160px;
}

#colour-input-ui {
    width: 289px;
    height: 112px;

    button {
        padding: 11px;
    }
}

#text-input-ui {
    width: 400px;
    height: 180px;
}

#recording-ui {
    width: 400px;
    height: 250px;

    .status {
        text-align: center;
    }

    .complete-controls {
        text-align: center;
    }

    .body {
        text-align: center;
    }
}

#save-ui {
    width: 400px;
    height: 320px;

    footer {
        text-align: center;
    }
}

#upload-ui {
    width: 400px;
    height: 100px;

    .progress {
        width: 380px;
        background: pink;
        border: 1px solid black;
        position: relative;
        height: 30px;
    }

    .complete {
        height: 30px;
        width: 33%;
        background: green;
    }

    .status {
        position: absolute;
        top: 5px;
        left: 0px;
        width: 380px;
        text-align: center;
    }

    footer {
        text-align: center;
        display: none;
    }
}

#menu-ui {
    width: 500px;
    height: 240px;
    display: block;

    strong {
        font-weight: bold;
    }

    footer {
        text-align: center;
    }
}

#chrome-only-ui {
    width: 300px;
    height: 300px;
}

#microphone-error-ui {
    width: 300px;
    height: 300px;
}

#microphone-request-ui {
    width: 600px;
    height: 300px;

    text-align: center;
    display: block;
}

#drawing-ui {
    width: 700px;
    height: 400px;

    .main-container {
        margin-right: 120px;
    }

    .canvas-container {
        position: absolute;
        margin: auto;

        canvas {
            position: absolute;
            top: 0px;
            left: 0px;

            cursor: pointer;
        }
    }

    .preview-canvas {
        position: absolute;
    }

    .colours {
        border: 1px solid black;
        width: 96px;
        height: 224px;
    }

    .toolbox {
        position: absolute;
        top: 0px;
        right: 13px;
        width: 100px;
        height: 300px;

        margin-top: 70px;
    }

    .colour {
        width: 32px;
        height: 32px;
        float: left;
        cursor: pointer;

        &.active {
            border: 2px solid red;
            width: 28px;
            height: 28px;

            &.third {
                // Fix
                height: 29px;
            }
        }
    }

    .tools {
        margin-left: 8px;
        margin-top: 10px;
        border: 1px solid black;
        width: 84px;
        height: 84px;
    }

    .tool {
        width: 42px;
        height: 42px;
        background: #FFF;
        text-align: center;
        cursor: pointer;
        float: left;

        &.active {
            border: 2px solid red;
            width: 38px;
            height: 38px;

            &.brush {
                height: 39px;
            }
        }
    }

    .options {
        margin-left: 50px;

        button {
            margin-left: 2em;
        }
    }
}

button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #406791;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 1px;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  background: #4c7c99;
  text-decoration: none;
}

input.text {
    width: 90%;
    font-size: 2em;
    padding: 0.5em;
    border: 1px solid black;
    background: #EFEFEF;
}

.right {
    float: right;
}

.clear {
    clear: both;
}


#menu-container, #microphone-container {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: auto;
    display: none;

    background: url(/s/assets/bg.png) repeat;
}