/**
 * UI Elements
 */

.ui {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 1em;
    margin: auto;
    display: none;

    background: #E0E0E0;
    border: 1px solid black;
    border-radius: 5px;

    header {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        background: pink;
        height: 30px;

        h1 {
            font-size: 1em;
            margin: 0;
            margin-top: 5px;
            text-align: center;
        }
    }

    footer {
        position: absolute;
        bottom: 0px;
        right: 0px;

        padding:5px;
    }
}

#narration-ui {
    width: 400px;
    height: 300px;
}

#text-input-ui {
    width: 400px;
    height: 180px;
}

#recording-ui {
    width: 400px;
    height: 300px;
}

#drawing-ui {
    width: 700px;
    height: 400px;

    .canvas-container {
        position: relative;
        // width: 320px;
        // height: 320px;
        margin: auto;

        canvas {
            position: absolute;
            top: 0px;
            left: 0px;

            cursor: pointer;
        }
    }

    .toolbox {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100px;
        background: orange;
        height: 300px;
    }

    .colour {
        width: 32px;
        height: 32px;
        float: left;
        cursor: pointer;

        &.active {
            border: 2px solid red;
            width: 28px;
            height: 28px;
        }
    }

    .tool {
        width: 32px;
        height: 32px;
        background: #FFF;
        text-align: center;
        cursor: pointer;
        clear: both;

        &.active {
            border: 2px solid red;
            width: 28px;
            height: 28px;
        }
    }
}

button {
    border-radius: 18px;
    background-color: red;
    padding: 1em;
    font-weight: bold;
    border-color: black;
}

input.text {
    width: 90%;
    font-size: 2em;
    padding: 0.5em;
    border: 1px solid black;
    background: #EFEFEF;
}

.right {
    float: right;
}